<div class="container">
  <ul class="navbar">
    <li><a href="{% url 'index' %}" id="brand-title">Mes8Group</a></li>
    <li class="navbar-item"><a href="">Art</a></li>
    <li class="navbar-item"><a href=""><s>Blog</s></a></li>
    <li class="navbar-item"><a href=""><s>Music</s></a></li>
    <li class="navbar-item"><a href=""><s>Videos</s></a></li>
    <li class="navbar-item"><a href=""><s>Voice Acting</s></a></li>
    <li class="navbar-item" ><a href="{% url 'writing_home' %}" >Writing</a></li>
  </ul>
</div>