body{
    background-color: #8d4d4d;
    color: #fcfcf3;
    font-family: 'Lato', sans-serif;
}

h2#title{
    padding-top: 1rem;
    padding-left: 2rem;
    text-align: center;
    font-size: 72px;
}
