body{
    background-color: #292c29;
    color: #ffffe0;
    font-family: 'Lato', sans-serif;
}

h2#title{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    text-align: center;
    font-size: 86px;
    border-top: 2px solid #ffffe0;
    border-bottom: 2px solid #ffffe0;
}

.general_post_title{
    margin-top: 2rem;
    margin-bottom: -0.25rem;
    color: #ffffe0;
}

.general_post_tags{
    padding-left: 0.5rem;
    font-size: 14px;
    padding-left: 5.5rem;
}

.general_post_thumbnail{
    border: 1px solid #98f9e8;
    border-radius: 4px;
    padding: 1px;
    width: 80px;
    margin-bottom: 3rem;
    margin-left: 5px;
    margin-right: 0.5rem;
    margin-top:0.75rem;
    float: left;
}

.general_post_snippet{
    padding-top: 0rem;
}

.general_post_date{
    font-size: 20px;
    padding-right: 1.4rem;
}

.hr_post_splitter{
    background-color: #7e7e7e;
    clear: both;
}
