.page-link{
    background-color: #292c29;
    border: 1px solid #ffffe0;
    color: #ffffe0;
}

.page-item{
    background-color: #ffffe0;
    color: #292c29;
}

.page-item.active a.page-link{
    background-color: #ffffe0;
    border: 1px solid #ffffe0;
    color: #292c29;
}

.page-item.disabled a.page-link{
    background-color: #292c29;
    border: 1px solid #ffffe0;
    color: #ffffe0;
}

.page-link:hover{
    background-color: #b1b1b1;
    color: #292c29;
}
