h1.detail_title{
    font-size: 56px;
    padding-top: 1rem;
    margin-bottom: 0;
    color: #ffffe0;  
}

span.detail_date{
    padding-top: -0.5rem;
    color: #ffffe0;
}

div.back_button_div{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

input.back_button{
    background-color: #ffffe0;
    color: #292c29;
    border-radius: 5px; 
    border-color: #98f9e8;
}

input.back_button:hover{
    background-color:#7e7e7e;
    color:#ffffe0;
}

span.detail_tags{
    color: #98f9e8;
}